# Klasifikasi tanpa Adaboost

In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets.samples_generator import make_blobs
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn import svm

In [2]:
data = pd.read_csv("cardiovascular.csv",delimiter=";")

In [3]:
data.head(21)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,113,19642,1,158,75.0,120,80,1,1,0,0,1,1
1,114,19570,1,152,110.0,160,90,1,1,0,0,1,1
2,115,22636,1,178,93.0,130,90,1,1,0,0,0,1
3,116,18352,1,156,55.0,100,60,1,1,0,0,1,0
4,117,21909,1,156,75.0,150,90,2,2,0,0,1,1
5,119,19663,2,166,94.0,140,90,2,3,0,0,1,1
6,121,23204,1,151,92.0,130,90,1,1,0,0,0,1
7,122,19480,2,172,87.0,120,80,1,1,0,0,0,0
8,123,23230,1,160,82.0,140,100,1,1,0,0,1,0
9,124,19557,1,164,103.0,140,90,3,3,0,0,0,1
10,125,18752,2,173,76.0,150,90,1,1,0,0,1,1
11,126,22821,2,168,80.0,160,100,1,1,0,0,1,0
12,127,15946,2,185,88.0,133,89,2,3,0,0,1,0
13,129,21076,1,158,53.0,110,70,1,1,0,0,1,0
14,131,19258,2,165,65.0,110,70,1,1,0,0,1,0
15,132,18410,1,165,99.0,150,110,1,1,0,0,0,1
16,133,21860,2,170,100.0,120,80,1,1,0,0,0,1
17,134,17363,1,167,71.0,120,80,2,1,0,1,1,1
18,135,14684,2,171,61.0,110,70,1,1,0,0,1,0
19,136,18718,1,167,80.0,190,90,2,1,0,1,0,0

In [4]:
X = np.array(data.iloc[:, 7:-1])
y = np.array(data.iloc[:, -1:])

In [5]:
print(X)

[[1 1 0 0 1]
 [1 1 0 0 1]
 [1 1 0 0 0]
 [1 1 0 0 1]
 [2 2 0 0 1]
 [2 3 0 0 1]
 [1 1 0 0 0]
 [1 1 0 0 0]
 [1 1 0 0 1]
 [3 3 0 0 0]
 [1 1 0 0 1]
 [1 1 0 0 1]
 [2 3 0 0 1]
 [1 1 0 0 1]
 [1 1 0 0 1]
 [1 1 0 0 0]
 [1 1 0 0 0]
 [2 1 0 1 1]
 [1 1 0 0 1]
 [2 1 0 1 0]]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [7]:
clf = DecisionTreeClassifier()

In [8]:
clf = clf.fit(X_train,y_train)

In [9]:
y_pred = clf.predict(X_test)

In [10]:
score = cross_val_score(clf, X, y, cv=5)

In [11]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.3333333333333333

# Klasifikasi dengan Adaboost  Menggunakan Decision Tree

In [12]:
abc = AdaBoostClassifier(n_estimators=50,
                         base_estimator=clf,
                         learning_rate=1)

In [13]:
model = abc.fit(X_train, y_train.ravel())

In [14]:
y_prediction = model.predict(X_test)

In [15]:
score = cross_val_score(abc, X_test, y_test.ravel(), cv=2)

In [16]:
print("Accuracy:",metrics.accuracy_score(y_test, y_prediction))

Accuracy: 0.5

# Klasifikasi dengan Adaboost Menggunakan SVM

In [17]:
svm=sv(probability=True, kernel='linear')

NameError: name 'SVC' is not defined

In [ ]:
abc = AdaBoostClassifier(n_estimators=200,
                         base_estimator=svc,
                         learning_rate=1)

In [ ]:
model = abc.fit(X_train, y_train.ravel())

In [ ]:
y_prediction = model.predict(X_test)

In [ ]:
score = cross_val_score(abc, X_test, y_test.ravel(), cv=2)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))